@(message : String , movies: List[Movie]) @main("entreCINE") {

<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="assets/stylesheets/main.css"
	type="text/css" />
</head>
<body>
	<div id="main">
		<div class="login">
			<form class="registro" method="post" action="">
				<label>Usuario:</label> <input type="text" name="nombre" value="" />
				<label>Password:</label> <input type="password" name="password"
					value="" /> <input type="submit" name="botonEntrar" value="Entrar" /><input
					type="submit" name="botonRegistrar" value="Registrar"
					href="register" />
				<p>
					<a href="">¿Olvidaste tu contraseña retarded?</a>
				</p>
			</form>
		</div>
		<div id="header">
			<h1 id="logo">
				<a href="#"><img src="assets/images/logo.png"></a>
			</h1>
			<div id="navigation">
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Reservas</a></li>
					<li><a href="#">Sobre nosotros</a></li>
				</ul>
			</div>
		</div>
		<div class="cl">&nbsp;</div>

		<div id="box">
			<div class="head">
				<h2>Cartelera</h2>
			</div>
			@for( m <- movies) {
			<div class="movie">
				<div class="movie-image">
					<a href="details?id_movie=@m.getId"> <img src="@m.getPoster"
						onmouseover="this.src='assets/images/cover.png';"
						onmouseout="this.src='@m.getPoster';"></a>
				</div>
				<div class="name">
					<p>@m.getName</p>
				</div>
			</div>
			}
			<div class="cl">&nbsp;</div>
		</div>

		<div id="footer">Copyright &copy; 2013 Entrecine - Todos los
			derechos reservados</div>
	</div>
</body>
</html>
}
