@(nombre: String ,message : String, session: Session, seat: Integer, customer: Integer,
fecha : Date, codigoCompra : String) @main("payReservasResult"){

<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="assets/stylesheets/main.css"
	type="text/css" />
</head>
<body>
	<div id="main">
		<div class="login">
		<h3>@message</h3>
		@if(nombre==""){
			<form class="registro" method="GET" action="/login">
				<label>Usuario:</label> <input type="text" name="name" value="" />
				<label>Password:</label> <input type="password" name="password"
					value="" /> <input type="submit" name="botonEntrar" value="Entrar" /><input
					type="submit" name="botonRegistrar" value="Registrar"
					href="register" />
				<p>
					<a href="">¿Olvidaste tu contraseña retarded?</a>
				</p>
			</form>
			}else{
			<p>¡Bienvenido, mi querido @nombre!</p>
			<a href="logOut">Cerrar Session</a>
			}
		</div>
		<div id="header">
			<h1 id="logo">
				<a href="/"><image src="assets/images/logo.png"></a>
			</h1>
			<div id="navigation">
				<ul>
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Reservas</a></li>
					<li><a href="#">Sobre nosotros</a></li>
				</ul>
			</div>
		</div>

		<div class="cl">&nbsp;</div>
		<div id="box">
			<div class="head">
				<p>Pago de la reserva Exitoso</p>
			</div>
			<div class="name"></div>
			<div class="cl">&nbsp;</div>
			<div class="head">
				<h3>@message</h3>
				<form class=form method="GET" action="/payReserve/pay">
					<div class=reg>
						<p>Fecha de pago: @fecha.getTime</p>
						<p>Horario: @session.getSessionType.getStartTime : 00h
							@session.getSessionType.getName</p>
						<p>Silla: Place @seat</p>
						<p>Lugar: @session.getRoom.getAccess</p>
						<p>Coste de la entrada : @session.getSessionType.getCost €</p>
						<br>
						<h3>Codigo de compra: @codigoCompra</h3>
					</div>
				</form>
				<br>

			</div>
			<br>
			<div class="cl">&nbsp;</div>
		</div>

		<div id="footer">Copyright &copy; 2013 Entrecine - Todos los
			derechos reservados</div>
	</div>
</body>
</html>
}
